{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Current Practices</h1>
    {% for practice in practice_list %}
        {% if practice.dietitian == user %}
        <div class="card-container"></div>
            <div class="card">
                <p>{{ practice.addressStreetNumberName }}, {{ practice.addressSuburb }}, {{ practice.City}}</p>
                <p>{{ practice.addressState }}, {{ practice.addressCountry }}, {{ practice.addressPostCode }} </p>
                <p>{{ practice.phone }}</p>
                <p>{{ practice.email }}</p>
                <p>{{ practice.website }}</p>

                <button><a href="{% url 'practice_delete' practice.id %}">Delete</a></button>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</br>
    <button><a href="/practice/create">Add new practice</a></button>
</div>

{% endblock %}