{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Find a dietitian near you</h1>
    <div class="card-container">
        {% for practice in practices %}
            {% if practice.dietitian.is_active %}
            <div class="card">
                <h2>{{ practice.dietitian.first_name }} {{ practice.dietitian.last_name }}</h2>
                <p>{{ practice.email }}</p>
                <p>{{ practice.addressStreetNumberName }}, {{ practice.addressSuburb }},</p>
                <p>{{ practice.addressCity }}, {{ practice.addressState }}, {{ practice.addressCountry }}, {{ practice.addressPostCode }}</p>
                <p>{{ practice.phone }}</p>
                <p>{{ practice.website }}</p>
            </div>
            {% endif %}
        {% endfor %}

        
    </div>
</div>


{% endblock %}