body {
    margin: 0px;
}

main {
    margin: 0px 100px 50px 100px;
}

@media (max-width: 750px) {
    body {
        display: grid;
        grid-template-columns: 100px 1fr;
    }
    main {
        margin: 15px;
    }
}

a {
    text-decoration: none;
    color: black;
}

button {
    height: 40px;
    width: 100px;
    margin: 5px;
}

/* NavBar */

nav {
    display: flex;
    flex-direction: row;
    height: 10vmin;
    align-items: flex-end;
}

@media (max-width: 750px) {
    nav {
        flex-direction: column;
        height: 100vh;
        align-items: flex-start;
    }

    #nav-welcome, #admin-note {
        display: none;
    }
}

nav a, nav p, h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
}

nav p {
    margin: 10px 20px;
}

.login-logout {
    position: absolute;
    right: 0;
    align-self: flex-end;
}

#nav-welcome {
    position: absolute;
    right: 0;
    align-self:flex-start;
    font-weight: 300;
}

#admin-note {
    position: absolute;
    left: 0;
    align-self:flex-start;
    font-weight: 300;
}

.user-view {
    background-color: rgba(165, 190, 245, 0.596);
}

.dietitian-view {
    background-color: rgba(184, 248, 176, 0.596);
}

.admin-view {
    background-color: rgba(240, 184, 224, 0.596);
}

/* Forms */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-button {
    width: calc(100% - 20px);
    max-width: 100%;
    justify-self: center;
}

#email {
    grid-column: 1 / span 2;
}

#id_email {
    width: calc(100% - 20px);
    max-width: 100%;
}

.form input { 
    height: 30px;
    margin: 5px 5px 2px 5px;
}

.form p {
    margin: 5px;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 2px solid rgb(134, 134, 134);
    box-shadow: 2px 2px 5px rgb(87, 86, 86);
    padding: 20px;
    margin: 5px;
    width: 40vh;
}

#request-buttons {
    display: flex;
    flex-direction: row;
}



